<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>empresa</title>
    <link rel="stylesheet" href="../../static/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body >
    <header class="container mx-auto ">
    
        <div class="text-5xl text-center  w-full bg-blue-300 py-4 border-b-2 border-gray-700">
            <h1>Cursos</h1>
        </div>
        
        
    </header>
    <main class="container mx-auto my-5 capitalize">